// Nav
// --------------------------------------------------

@include keyframes(nav-in) {
    0%   { @include transform(perspective(100vh) rotateX(-90deg)); }
	33%	 { @include transform(perspective(100vh) rotateX(  0deg)); }
	66%  { @include transform(perspective(100vh) rotateX(  5deg)); }
	100% { @include transform(perspective(100vh) rotateX(  0deg)); }
}

@include keyframes(nav-out) {
	0%   { @include transform(perspective(100vh) rotateX(  0deg)); }
	33%  { @include transform(perspective(100vh) rotateX( 10deg)); }
	66%  { @include transform(perspective(100vh) rotateX(  0deg)); }
	100% { @include transform(perspective(100vh) rotateX(-90deg)); }
}
