// Tab
// --------------------------------------------------

@include keyframes(tab-in) {
    0% { 
    	opacity: 0;
    	@include transform(translateY(20px));
    }
	100% { 
		opacity: 1; 
    	@include transform(translateY(0));
	}
}

@include keyframes(tab-out) {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}
