// Row
// --------------------------------------------------

.row {
  min-height: 150px;

  & .map {
    width: 100%;
    height: 315px;
  }
}

.row-header {
  height: 100vh;
  line-height: 100vh;

  @media (max-height: 360px) {
    padding-top: 20px;
    height: 360px;
    line-height: 360px;
  }

  // This code forces a fixed height of the "screen high"-images on mobile
  //$row-header-mobile-height: 600px;
  //@media (max-width: $screen-sm-max) {
  //	height: $row-header-mobile-height;
  //	line-height: $row-header-mobile-height;
  //}

  text-align: center;

  .content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.1vh;
    margin: 0;
    padding: 0;
    background-image: url(../img/background/background-head.png);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    content: '';


    // force a minimal height
    @media (max-height: 360px) {
      height: 360px;
    }

    //@media (max-width: $screen-sm-max) {
    //	height: $row-header-mobile-height;
    //}
  }
}

.row-dark {
  background-color: $brand-secondary;

  .row-title {
    color: #fff;
  }

  h2 {
    background-color: #fff;
    color: $brand-secondary;
  }

  h3 {
    color: #fff;
  }
}

.row-light {
  background-color: $brand-primary;

  h2 {
    color: $brand-primary;
    background-color: #fff;
  }

  h3 {
    color: #fff;
  }
}

.row-dark-2 {
  background-color: #fff;

  * {
    color: $brand-secondary-dark;
  }

  p {
    color: #000101;

  }
}

.row-light-2 {
  background-color: #fff;

  * {
    color: $brand-secondary;
  }
}

$row-scroll-button-height: 15px;
.row-scroll-down {
  height: $row-scroll-button-height;
  margin-top: -$row-scroll-button-height;
  min-height: $row-scroll-button-height;

  .content {
    width: 0;
    margin: 0 auto;
    padding: 0;

    .arrow {
      margin-top: -15px;
    }
  }
}

.row-scroll-up {
  position: absolute;
  width: 100%;
  margin-top: 25px;
  height: $row-scroll-button-height;
  min-height: $row-scroll-button-height;

  .content {
    width: 0;
    margin: 0 auto;
    padding: 0;
  }
}

.row-bleed .content {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row-background-image-1 {
  background-image: url(../img/background/background-1.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .content {
    background-color: transparentize(#000000, 0.8);
  }
}

.row-background-image-2 {
  background-image: url(../img/background/background-2.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .content {
    background-color: transparentize(#000000, 0.8);
  }
}

.row-background-image-3 {
  background-image: url(../img/background/background-3.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .content {
    background-color: transparentize(#000000, 0.8);
  }
}


