@charset "UTF-8";
// Scaffolding
// --------------------------------------------------

// Reset the box-sizing
//
* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family-base;
  background-color: $brand-secondary;
}

// Reset fonts for relevant elements
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hide {
  display: none;
}

// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    @include tab-focus();
  }
}

// Text

p, blockquote, li, td, th {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}

address {
  color: $brand-secondary;
  font-style: normal;
  margin-top: 30px;
  font-size: 15px;
  line-height: 28px;
}

.lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
  width: 100%;
  padding: 15px;
}

@media (min-width: $screen-md-min) {
  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }
}

// Images

img {
  vertical-align: middle;
  max-width: 100%;

  &.logo {
    max-height: 100px;
    padding: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      -webkit-filter: none;
      filter: none;

    }
  }

  &.picture-border {
    border: 5px solid $brand-primary;
    -webkit-box-shadow: 5px 5px 5px $brand-primary-dark;
    box-shadow: 5px 5px 5px $brand-primary-dark;

  }

  &.socialmedia {
    width: 50px;
    height: 50px;

  }
}

// Lists

ul {
  list-style-position: inside;
  padding-left: 0;
}

// Blockquote

blockquote {
  max-width: 450px;
  margin: 30px auto;
  &:before {
    content: '«';
  }
  &:after {
    content: '»';
  }
}

// Selection

::selection {
  background-color: $brand-primary;
}

// Table

table {
  margin: 20px auto;
}

th {
  font-weight: 500;
}
