// Statistics
// --------------------------------------------------

.stats-1 {
	font-size: 60px;
	font-weight: 600;
	margin: 40px 0;
	
	@media (max-width: $screen-md-min) {
		font-size: 35px;
		margin-bottom: 20px;
	}
	@media (max-width: $screen-xs-min) {
		font-size: 30px;
	}
}

.stats-1-1 {
  font-size: 35px;
  font-weight: 600;
  margin: 40px 0;

  @media (max-width: $screen-md-min) {
	font-size: 35px;
	margin-bottom: 20px;
  }
  @media (max-width: $screen-xs-min) {
	font-size: 30px;
  }
}

.stats-1-2 {
  font-size: 22px;
  font-weight: 300;
  margin-top: -8px;

  @media (max-width: $screen-sm-max){
	margin: 0;
  }
}

.stats-2 {
	font-size: 22px;
	font-weight: 500;
	margin-top: -8px;
	
	@media (max-width: $screen-sm-max){
		margin: 0;
	}
}

.stats-3 {
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 20px !important;
}
