---
import Layout from '../layouts/Layout.astro';
import Backdrop from '../components/Backdrop.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Hero from '../components/Hero.astro';
import Kompetenzen from '../components/Kompetenzen.astro';
import ReferenzenHeader from '../components/ReferenzenHeader.astro';
import Testimonials from '../components/Testimonials.astro';
import Clients from '../components/Clients.astro';
import Map from '../components/Map.astro';
import Footer from '../components/Footer.astro';
import DrawerWebapplikationen from '../components/DrawerWebapplikationen.astro';
import DrawerWebauftritte from '../components/DrawerWebauftritte.astro';
import DrawerAutomatisierungen from '../components/DrawerAutomatisierungen.astro';
import DrawerAiFirst from '../components/DrawerAiFirst.astro';
import DrawerJobs from '../components/DrawerJobs.astro';
import DrawerImpressum from '../components/DrawerImpressum.astro';
import DrawerAgb from '../components/DrawerAgb.astro';
import DrawerKontakt from '../components/DrawerKontakt.astro';
import { clients } from '../data/clients';
import siteScriptUrl from '../scripts/site.ts?url';
---

<Layout title="sidefyn GmbH">
  <Backdrop />

  <HeaderNav />

  <main>
    <Hero />
    <Kompetenzen />
    <ReferenzenHeader />
    <Testimonials />
    <Clients clients={clients} />
    <Map />
  </main>

  <Footer />

  <DrawerWebapplikationen />
  <DrawerWebauftritte />
  <DrawerAutomatisierungen />
  <DrawerAiFirst />
  <DrawerJobs />
  <DrawerImpressum />
  <DrawerAgb />
  <DrawerKontakt />

  <script type="module" src={siteScriptUrl}></script>
</Layout>
