---
const base = import.meta.env.BASE_URL;
---

<section
  id="referenzen"
  class="relative h-screen parallax flex items-center justify-center"
  style={`background-image: url('${base}img/background/background-1.png');`}
>
  <div class="absolute inset-0 bg-black/30"></div>
  <h1 class="relative z-10 font-display text-5xl md:text-7xl text-white reveal">Referenzen</h1>
</section>
