// Centered container element
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

@mixin make-column($class){
	@for $i from (1 + 1) through 12 {
    	.col-#{$class}-#{$i} {
    		width: percentage(1 / (12 / $i));
    	}
	}
}
